@import url('https:fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.1)), url(./../05_Design/background.jpg) no-repeat;
    background-size: cover/2;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform.5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-size: 20px;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 300px;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #696969;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.banner-btn {
    margin: 70px auto 0;
}

.banner-btn a{
    width: 250px;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
}

.home-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
}

span {
    background: #696969;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}
button:hover {
    border: none;
}

table {
    position: center;
    font-size: 20px;
    border-collapse: collapse;
    background-color:   #9b9b9b;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    margin: auto;
    margin-top: 120px;
    width: 1170px;
}

td, th {
    padding: 20px 20px;
    text-align: left
}

thead {
    box-shadow: 0 3px 6px #00000030;
    background-color: #696969;
}

tfoot {
    box-shadow: 0 3px 6px #00000030;
    background-color: #696969;
}

tr:nth-child(even) {
    background-color: #c2c2c2;
}

