<!-- Florian Puchegger, 5AHET, 20.10.2023 -->
<!-- In diesem File wird die Auswertung der einzelnen Bewerbe der Zeitmessung der Emily implementiert. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Zeitmessung</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='05_Design/style.css') }}">
</head>

<body>

    <header>
        <img src="{{ url_for('static', filename='05_Design/HTL-Weiz-Logo.jpg') }}" width="150px">
        <h2 class="logo">Home</h2>
        <nav class="navigation">
            <a href="{{ url_for('Zeitmessung') }}">Home</a>
            <a href="{{ url_for('Bestenliste') }}">Bestenliste</a>
            <a href="{{ url_for('Teamuebersicht') }}">Teamübersicht</a>
            <a href="{{ url_for('Einzelauswertung') }}">Einzelauswertung</a>
        </nav>
    </header>

    <div class="banner-btn">
        <button type="button"><span></span><a href="{{ url_for('leaderboard_page', selected_category=1) }}">Kategorie HTL</a></button>
        <button type="button"><span></span><a href="{{ url_for('leaderboard_page', selected_category=2) }}">Kategorie Cart</a></button>
    </div>
</body>

</html>